## Preprocesamiento
In this stage we do a first quickly look for :
- Delimit data according with the scope of analysis

In [2]:
import pandas as pd

In [11]:
df = pd.read_csv("../data/raw/England CSV.csv")
df2 = pd.read_csv("../data/raw/England 2 CSV.csv")

In [8]:
print(df.head(5))

         Date   Season      HomeTeam                AwayTeam  FTH Goals  \
0  16/01/2025  2024/25  Ipswich Town  Brighton & Hove Albion          0
1  16/01/2025  2024/25    Man United             Southampton          3
2  15/01/2025  2024/25       Everton             Aston Villa          0
3  15/01/2025  2024/25     Leicester          Crystal Palace          0
4  15/01/2025  2024/25     Newcastle                  Wolves          3

   FTA Goals FT Result  HTH Goals  HTA Goals HT Result  ... H Fouls  A Fouls  \
0          2         A        0.0        1.0         A  ...    13.0     14.0
1          1         H        0.0        1.0         A  ...     7.0     10.0
2          1         A        0.0        0.0         D  ...    17.0     10.0
3          2         A        0.0        0.0         D  ...     7.0      6.0
4          0         H        1.0        0.0         H  ...    10.0     13.0

   H Corners  A Corners  H Yellow  A Yellow  H Red  A Red  Display_Order  \
0        1.0        9.0       2.0       2.0    0.0    0.0       20250116
1        4.0        4.0       1.0       3.0    0.0    0.0       20250116
2        8.0        5.0       2.0       1.0    0.0    0.0       20250115
3        4.0        3.0       0.0       0.0    0.0    0.0       20250115
4        4.0        2.0       0.0       2.0    0.0    0.0       20250115

           League
0  Premier League
1  Premier League
2  Premier League
3  Premier League
4  Premier League

[5 rows x 25 columns]

In [6]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12153 entries, 0 to 12152
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Date           12153 non-null  object
 1   Season         12153 non-null  object
 2   HomeTeam       12153 non-null  object
 3   AwayTeam       12153 non-null  object
 4   FTH Goals      12153 non-null  int64
 5   FTA Goals      12153 non-null  int64
 6   FT Result      12153 non-null  object
 7   HTH Goals      11229 non-null  float64
 8   HTA Goals      11229 non-null  float64
 9   HT Result      11229 non-null  object
 10  Referee        9329 non-null   object
 11  H Shots        9329 non-null   float64
 12  A Shots        9329 non-null   float64
 13  H SOT          9329 non-null   float64
 14  A SOT          9329 non-null   float64
 15  H Fouls        9329 non-null   float64
 16  A Fouls        9329 non-null   float64
 17  H Corners      9329 non-null   float64
 18  A Corners      9329 non-null   float64
 19  H Yellow       9329 non-null   float64
 20  A Yellow       9329 non-null   float64
 21  H Red          9329 non-null   float64
 22  A Red          9329 non-null   float64
 23  Display_Order  12153 non-null  int64
 24  League         12153 non-null  object
dtypes: float64(14), int64(3), object(8)
memory usage: 2.3+ MB
None

In [15]:
df.describe()

,FTH Goals,FTA Goals,HTH Goals,HTA Goals,H Shots,A Shots,H SOT,A SOT,H Fouls,A Fouls,H Corners,A Corners,H Yellow,A Yellow,H Red,A Red,Display_Order
count,12153.000000,12153.000000,11229.000000,11229.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,9329.000000,1.215300e+04
mean,1.531309,1.160948,0.689554,0.511265,13.618716,10.784543,6.007503,4.704684,11.303462,11.781113,6.056383,4.770715,1.462536,1.785722,0.062386,0.085968,2.008629e+07
std,1.306927,1.147714,0.838796,0.731610,5.349420,4.678710,3.275177,2.757288,3.752442,3.931377,3.107327,2.746754,1.215747,1.285168,0.252706,0.291579,9.224046e+04
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.993081e+07
25%,1.000000,0.000000,0.000000,0.000000,10.000000,7.000000,4.000000,3.000000,9.000000,9.000000,4.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.001010e+07
50%,1.000000,1.000000,0.000000,0.000000,13.000000,10.000000,6.000000,4.000000,11.000000,12.000000,6.000000,4.000000,1.000000,2.000000,0.000000,0.000000,2.009012e+07
75%,2.000000,2.000000,1.000000,1.000000,17.000000,14.000000,8.000000,6.000000,14.000000,14.000000,8.000000,6.000000,2.000000,3.000000,0.000000,0.000000,2.017012e+07
max,9.000000,9.000000,5.000000,5.000000,43.000000,31.000000,24.000000,20.000000,33.000000,29.000000,20.000000,19.000000,7.000000,9.000000,3.000000,2.000000,2.025012e+07

In [13]:
print(df['Date'].min())

1/01/1994

In [14]:
df2.head(5)

,Date,Season,HomeTeam,AwayTeam,FTH Goals,FTA Goals,FT Result,HTH Goals,HTA Goals,HT Result,...,H Fouls,A Fouls,H Corners,A Corners,H Yellow,A Yellow,H Red,A Red,Display_Order,League
0,15/01/2025,2024/25,Blackburn,Portsmouth,3,0,H,0.0,0.0,D,...,15.0,19.0,5.0,6.0,1.0,3.0,0.0,0.0,20250115,English Second
1,14/01/2025,2024/25,Cardiff,Watford,1,1,D,0.0,0.0,D,...,8.0,14.0,7.0,3.0,1.0,2.0,0.0,0.0,20250114,English Second
2,14/01/2025,2024/25,Plymouth,Oxford,1,1,D,0.0,1.0,A,...,8.0,10.0,6.0,3.0,1.0,1.0,0.0,0.0,20250114,English Second
3,6/01/2025,2024/25,QPR,Luton,2,1,H,1.0,1.0,D,...,10.0,9.0,3.0,4.0,1.0,1.0,0.0,0.0,20250106,English Second
4,5/01/2025,2024/25,Sunderland,Portsmouth,1,0,H,1.0,0.0,H,...,9.0,10.0,7.0,3.0,1.0,2.0,0.0,1.0,20250105,English Second